<%- include('navbar') %>
  <h3 class="fw-bold mb-4 text-black bg-success">Home Management</h3>
  <div class="container mt-4">


    <div class="row">

      <!-- Form Column -->
      <div class="col-md-7">
        <div class="card shadow border-0 rounded-4">
          <div class="card-body p-4">

            <h5 class="fw-semibold mb-3 text-danger">Edit About Content</h5>

            <form method="POST" action="/admin/update_home_about" enctype="multipart/form-data">

              <div class="mb-3">
                <label class="form-label fw-semibold">Title</label>
                <input type="text" name="title" value="<%= about.title %>" class="form-control form-control-lg">
              </div>

              <div class="mb-3">
                <label class="form-label fw-semibold">Description</label>

                <textarea name="description" id="descriptionEditor" rows="6"
                  class="form-control"><%= about.description %></textarea>
              </div>

              <div class="mb-3">
                <label class="form-label fw-semibold">Change Image</label>
                <input type="file" name="image" class="form-control">
                <small class="text-muted">Upload new image to replace existing one</small>
              </div>

              <button class="btn btn-danger w-100 py-2 fw-semibold">
                <i class="fas fa-sync-alt me-2"></i> Update
              </button>

            </form>

          </div>
        </div>
      </div>

      <!-- Preview Column -->
      <div class="col-md-5">
        <div class="card shadow border-0 rounded-4">
          <div class="card-body text-center p-4">

            <h6 class="fw-semibold mb-3 text-muted">Current Image Preview</h6>

            <img src="/images/<%= about.image %>" class="img-fluid rounded-4 shadow-sm mb-3">

            <p class="small text-muted">
              This image is currently displayed on the home page About section.
            </p>

          </div>
        </div>
      </div>

    </div>

  </div>

  <%- include('footer') %>